spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

  devtools:
    restart:
      enabled: true

cors:
  allowed-origins: http://localhost:3000,http://localhost:3001,http://localhost:3002

logging:
  level:
    root: DEBUG
    com.ohmybaby: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
