spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
  
  devtools:
    restart:
      enabled: true

logging:
  level:
    root: DEBUG
    com.ohmybaby: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
