spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  devtools:
    restart:
      enabled: true

decorator:
  datasource:
    p6spy:
      enable-logging: true

cors:
  allowed-origins: http://localhost:3000,http://localhost:3001,http://localhost:3002

logging:
  level:
    root: INFO
    com.ohmybaby: DEBUG
    org.springframework.security: INFO
    p6spy: INFO
